.title-container, .titleOne, .titleTwo {
    text-align: center;
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

.title-container {
    margin-top: 2.5rem;
    /* background-color: palevioletred; */
}